@charset "utf-8";
/* CSS Document */

#wrapper {
color: #0000FF;
background-color: #FFFFFF;
margin:0px;
padding:0px;
width:800px;
}
#header{
	background-color:#0099FF;
	height:100px;
	text-transform: none;
	color:#FFFF00;
	font-family:Calibri;
	font-size:36px;
	text-align:center;
}

#content{
background-color:#FFFFFF;
width:700px;
float: right;
color: #0099FF;
font-family:Calibri;
font-size:14px;
}
#linksbar{
width:100px;
float:left;
font-family:Calibri;
font-size:12px;
vertical-align:top;
background-color:#FFFF00
}
#main {
background-color:#FFFF00;
width:800px;
}
#footer{
background-color:#0099FF;
width:800px;
height:150px;
font-family:Calibri;
font-size:12px;
color:#FFFF00;
}
#footerleft{
background-color:#0099FF;
width:400px;
float:left;
font-family:Calibri;
font-size:12px;
}
#footerright{
background-color:#0099FF;
width:400px;
float:right;
font-family:Calibri;
font-size:12px;
}
p.timetable{
line-height:15px;
font-size:12px;
}

