#container{

width:700px;
margin-left:auto;
margin-right:auto;
background-color:white;
border: 1px solid black;
}

#header{
width: 700px;
height: 95px;
background-color:#C99DC5;
color:#FFFFFF;
text-align: center;
margin-top: -21px;
}

#navigation{
font-family : calibri;
text-align : center;
color : grey;
display: block;
width: 700px;
height: 40px;
}

#navigation ul{
list-style-type:none;
margin:0;
padding:0;
width: 700px;

}

#navigation li{
float: left;
}

#navigation a
{
display:block;
width:140px;
height: 40px;
font-weight:bold;
color:black;
background-color:#5AD186;
text-align:center;
text-decoration:none;
font-size: 20px;
line-height: 200%;
}
#navigation a:hover,a:active
{
background-color:green;
color: white;
}

body{
width: 100%; 
font-family:Arial, Helvetica, sans-serif;
color: black;
}

#footer{
width: 700px;;
height:50px; 
background-color:#C99DC5;
color:#FFFFFF;
}

#name{
font-size: 24px;
font-weight: bolder;
padding:5px;
text-transform: uppercase;          	
}

#message{
font-size: 14px;
font-weight: bolder;
padding:5px;
}

#time{
font-size: 14px;
float: right;
padding:5px;
}

form    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: #F0F0F0;
margin:auto;
position:relative;
width:300px;
height:90px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
margin: 5%;
}

input[type=submit] {
width:100px;
position:absolute;
left:100px;
bottom:10px;
background:#5AD186;
color:black;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
}

input[type=submit]:hover {
background:#fff;
color:#09C;
}

button, input, select {
  font-family : inherit;
  font-size   : 100%;
}

label{
margin-right: 15px;
}

textarea:focus{
background-color: #FEFCD7;
}

p, h1, h2, h3, h4{
padding:5px;
}

#postform{
width: 300px;
height: 215px;
}

#postform textarea{
width: 295px;
height: 140px;
}


#searchform{
width: 180px;
height: 90px;
}

#searchform input[type=text]{
width: 175px;
}

#searchform input[type=text]:focus{
background-color: #FEFCD7;
}

#searchform input[type=submit] {
width:100px;
position:absolute;
left:50px;
bottom:10px;
background:#5AD186;
color:black;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
}


#formcontainer{
margin: auto;
width: 300px;
}

#main{
padding: 1%;
}

#headertext{
float: right;
margin-right: 10px;
}

#loggedinas{
text-transform: uppercase;
font-weight:bolder;
color: black;
}

#error{
color: red;
}